<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ballard Fine Art - To Do List</title>
<link rel="stylesheet" href="assets/canonical.css">
</head>
<body class="c22 doc-content">
{% for block in blocks %}
{{ block.html }}
{% endfor %}
</body>
</html>
